[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
gmpy2 = "*"
httpcore = {extras = ["asyncio"], version = "*"}
httpx = {extras = ["http2"], version = "*"}
jinja2 = "*"
lxml = "*"
pycryptodomex = "*"
pyjwt = {extras = ["crypto"], version = "*"}
python-jose = "*"
requests = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
